* {
	margin: 0;
	padding: 0;
}
#person, #video, #image, #spinner {
	display: inline-block;
	width: 320px;
	height: 240px;
}
#person {
	position: relative;
	border: 1px solid black;
	background: black;
	overflow: hidden;
}
#person.status-connecting,
#person.status-streaming,
#person.status-relaxing {
	cursor: pointer;
}
#person.status-busy,
#person.status-waiting {
	cursor: not-allowed;
}

#spinner, #name, #status {
	position: absolute;
}

#spinner {
	z-index: 10;
	top: 0;
	left: 0;
}
#status {
	z-index: 20;
	top: -1em;
	left: 0;
}
#name {
	z-index: 30;
	bottom: -1em;
	left: 0;
}

#name, #status {
	width: 100%;
	background: black;
	background: rgba(0,0,0,0.1);
	color: white;
	text-align: center;
	font-family: monospace;
	line-height: 1em;
	transition: 0.1s bottom ease-in;
}

#person:hover #status, #status.initial {
	top: 0;
}
#person:hover #name, #name.initial {
	bottom: 0;
}

.hidden {
	display: none !important;
}