:host {
	display: -webkit-flex;
	display: flex;
	background: #404040;
	color: white;
	padding: 0.6rem 0.6rem 0.3rem 0.6rem;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
:host:before {
	content: "";
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	bottom: -100%;
	opacity: 0.25;
	background: -webkit-radial-gradient(white, black);
	background: radial-gradient(white, black);
	-webkit-animation: pulse 1s ease alternate infinite;
	animation: pulse 1s ease alternate infinite;
}

/* @polyfill * */
::-webkit-distributed(*) {
	font-size: 0.8rem;
	font-weight: 300;
	margin: 0;
}
[class*="typicons-"]::before {
	font-family: 'Typicons', sans-serif;
}
.typicons-message {
	margin-right: 5px;
}
#close {
	z-index: 1;
	position: relative;
}
.right {
	-webkit-flex: 1;
	flex: 1;
	text-align: right;
}