:host {
	display: -webkit-flex;
	display: flex;
	width: 260px;
	font-family: arial,sans-serif;

	background: #e5e5e5;
	-webkit-flex-direction: column;
	flex-direction: column;
}

hangout-discussion {
	overflow: auto;
	height: 290px;
}
[minimized] {
	height: 0;
	padding: 0 !important;
}
#msg {
	padding: 0.6rem;
	margin: 0;
	border: 1px solid #ccc;
}
#msg:focus {
	outline: none;
	border-color: lightblue;
}
}