---
autoprefix: true
---

.spinner {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.loader {
	position: absolute;
	/* margin: 0 auto; */
	top: 50%;
	left: 40%;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	list-style: none;
}

@keyframes 'loadbars' {
	0%{
		height: 10px;
		margin-top: 25px;
	}
	50%{
		height:50px;
		margin-top: 0px;
	}
	100%{
		height: 10px;
		margin-top: 25px;
	}
}

li{
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	float: right;
	margin-right: 5px;
    box-shadow: 0px 100px 20px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}

li:first-child{
	animation: loadbars 0.6s cubic-bezier(0.645,0.045,0.355,1) infinite 0s;
}

li:nth-child(2){
	animation: loadbars 0.6s ease-in-out infinite -0.2s;
}

li:nth-child(3){
	animation: loadbars 0.6s ease-in-out infinite -0.4s;
}